<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title align="center">Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   
    <ion-card-header>
      <ion-img src="https://lh3.googleusercontent.com/proxy/SZyOYmIMP5UImP4hrlGeaYN1mQreMRRznQVeYRlUogwwe7T2vMTKJwAh1kgSpXoCXH769XM2QUS7QjxZJFcXL77amywAYzt1qLtAmVJHJUw_wJ6-tKuGBta78QYOL0Xc5gyhxJh93z0"> </ion-img>
      <ion-card-title align="center">Adote um Pet</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <P align="center">
      Bem-vindo ao aplicativo Adote um Pet!
      <br><br>
      Nosso intuito é ajudar você a encontrar um novo amigo e ajudar vários pets a encontrarem uma nova família. 
      <br><br>
      Nesse aplicativo você consegue cadastrar animais para adoção consciente, e também buscar animais para serem sua nova familia! 
      <br><br>
      🐶🐹🐰🐠🐱
    </P>
    </ion-card-content>
  </ion-card>
</ion-content>
